   
    <div class="perfume">    
          
          
       <h1 class="headline">
           Game Diagnostics
       </h1>

       <div class="main">

        <div class="start">
            <%= link_to "診断を始める", new_perfume_path, data: {"turbolinks" => false}  %>
        </div>

        <div class="main2">
        <img src="assets/image.png">
        <h2>6つの質問からあなたにマッチしたゲームのジャンルやドハマりするゲームの特徴を導き出します</h2>
        </div>


        </div>
        
    </div>
