  <div class="intoro">
            <h5>診断結果</h5>
            <p>あなたのおすすめジャンルは…</p>
        </div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @perfume.question == "1" and @perfume.question2=="2" and  @perfume.question3=="2" and  @perfume.question4=="2" and   @perfume.question5=="1"  and  @perfume.question6=="1"%>
                <h6>シュミレーションゲーム</h6>
                <p>シミュレーションゲームは、大きく「経営系」と「戦争系」に分かれます。</p>
                <h6>診断の詳細</h6>
                <p>あなたは間違いなく段取り上手！！</p>
                <p>先を読む力にも長け、かなりの戦略家です。</p>
                <p>目立ちたいタイプではなく、あくまでリーダーをサポートする立場に甘んじることが多いです！</p>
                <p>また勢いに欠けるところがあり、わけの分からない場所には踏み込みたくない…といった引っ込み思案なところもあるそうです！</p>

                <% elsif @perfume.question == "1" and @perfume.question2=="2" and  @perfume.question3=="2" and  @perfume.question4=="2" and  @perfume.question5=="2" and  @perfume.question6=="1" %>
                <h6>シュミレーションゲーム</h6>
                <p>シミュレーションゲームは、大きく「経営系」と「戦争系」に分かれます。</p>
                <h6>診断の詳細</h6>
                <p>あなたは間違いなく段取り上手！！</p>
                <p>先を読む力にも長け、かなりの戦略家です。</p>
                <p>目立ちたいタイプではなく、あくまでリーダーをサポートする立場に甘んじることが多いです！</p>
                <p>また勢いに欠けるところがあり、わけの分からない場所には踏み込みたくない…といった引っ込み思案なところもあるそうです！</p>

                <% elsif @perfume.question == "1" and @perfume.question2=="2" and  @perfume.question3=="2" and  @perfume.question4=="2" and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>シュミレーションゲーム</h6>
                <p>シミュレーションゲームは、大きく「経営系」と「戦争系」に分かれます。</p>
                <h6>診断の詳細</h6>
                <p>あなたは間違いなく段取り上手！！</p>
                <p>先を読む力にも長け、かなりの戦略家です。</p>
                <p>目立ちたいタイプではなく、あくまでリーダーをサポートする立場に甘んじることが多いです！</p>
                <p>また勢いに欠けるところがあり、わけの分からない場所には踏み込みたくない…といった引っ込み思案なところもあるそうです！</p>


                <% elsif @perfume.question == "1" and @perfume.question2=="2" and  @perfume.question3=="2" and  @perfume.question4=="2" and  @perfume.question5=="2" and  @perfume.question6=="2" %>
                <h6>シュミレーションゲーム</h6>
                <p>シミュレーションゲームは、大きく「経営系」と「戦争系」に分かれます。</p>
                <h6>診断の詳細</h6>
                <p>あなたは間違いなく段取り上手！！</p>
                <p>先を読む力にも長け、かなりの戦略家です。</p>
                <p>目立ちたいタイプではなく、あくまでリーダーをサポートする立場に甘んじることが多いです！</p>
                <p>また勢いに欠けるところがあり、わけの分からない場所には踏み込みたくない…といった引っ込み思案なところもあるそうです！</p>


                <% elsif @perfume.question == "2" and @perfume.question2=="1" and  @perfume.question3=="1" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>アクションゲーム</h6>
                <h6>音楽ゲーム</h6>
                <h6>アクションゲームとは、ジャンプや飛び道具などを駆使してアスレチックコースを攻略していくゲーム</h6>
                <h6>音楽ゲームコンピュータゲームのジャンルのひとつで、プレーヤーが楽曲や一種の楽譜と相互作用するゲーム</h6>
                <h6>診断の詳細</h6>
                <p>「やってみようぜ！」というハングリー精神に富んだ肉食系</p>
                <p>ノリ重視で、論理的というよりは感覚に頼ることが多そうです。</p>
                <p>いっぽう計画性がない一面も…。しかし、一度失敗しても何度もコツコツ挑んでいく不屈の精神力の持ち主でもあります</p>
                <p>自分が上達するための攻略方を見つけるのが上手いから勉強も得意である</p>



                <% elsif @perfume.question == "2" and @perfume.question2=="1" and  @perfume.question3=="1" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="1" %>
                <h6>アクションゲーム</h6>
                <h6>アクションゲームとは、ジャンプや飛び道具などを駆使してアスレチックコースを攻略していくゲーム</h6>
                
                <h6>診断の詳細</h6>
                <p>「やってみようぜ！」というハングリー精神に富んだ肉食系</p>
                <p>ノリ重視で、論理的というよりは感覚に頼ることが多そうです。</p>
                <p>いっぽう計画性がない一面も…。しかし、一度失敗しても何度もコツコツ挑んでいく不屈の精神力の持ち主でもあります</p>>


                <% elsif @perfume.question == "2" and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="1" %>
                <h6>アクションゲーム</h6>
                <h6>ロールプレイング・アドベンチャーゲーム</h6>
                <h6>アクションゲームとは、ジャンプや飛び道具などを駆使してアスレチックコースを攻略していくゲーム</h6>
                <h6>ロールプレイング・アドベンチャーゲームとは、操作性を問われることはほとんどなく、物語を読み解いたりヒントを見つけたりといった要素の多いゲームです。</h6>
                <h6>診断の詳細</h6>
                <p>「やってみようぜ！」というハングリー精神に富んだ肉食系</p>
                <p>ノリ重視で、論理的というよりは感覚に頼ることが多そうです。</p>
                <p>いっぽう計画性がない一面も…。しかし、一度失敗しても何度もコツコツ挑んでいく不屈の精神力の持ち主でもあります</p>
                <p>好奇心旺盛で、音楽や映画などの芸術方面に明るい人も多いようです。</p>



                <% elsif @perfume.question == "2" and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>アクションゲーム</h6>
                <h6>シューティングゲーム</h6>
                <h6>音楽ゲーム</h6>
                <h6>アクションゲームとは、ジャンプや飛び道具などを駆使してアスレチックコースを攻略していくゲーム</h6>
                <h6>シューティングゲームとは、その名の通り敵を打ち倒していくアクションゲームに近いゲーム。</h6>
                <h6>音楽ゲームとは、コンピュータゲームのジャンルのひとつで、プレーヤーが楽曲や一種の楽譜と相互作用するゲーム</h6>
                <h6>診断の詳細</h6>
                <p>「やってみようぜ！」というハングリー精神に富んだ肉食系</p>
                <p>ノリ重視で、論理的というよりは感覚に頼ることが多そうです。</p>
                <p>いっぽう計画性がない一面も…。しかし、一度失敗しても何度もコツコツ挑んでいく不屈の精神力の持ち主でもあります</p>
                <p>自分が上達するための攻略方を見つけるのが上手いから勉強も得意である</p>
                <p>また、凝り性な性格を持ち、集中力抜群で、物事に没頭するタイプです。硬派で職人気質なところもあるようです。</p>


                <% elsif @perfume.question == "2" and @perfume.question2=="2" and  @perfume.question3=="1" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>アクションゲーム</h6>
                <h6>アクションゲームとは、ジャンプや飛び道具などを駆使してアスレチックコースを攻略していくゲーム</h6>
                <h6>診断の詳細</h6>
                <p>「やってみようぜ！」というハングリー精神に富んだ肉食系</p>
                <p>ノリ重視で、論理的というよりは感覚に頼ることが多そうです。</p>
                <p>いっぽう計画性がない一面も…。しかし、一度失敗しても何度もコツコツ挑んでいく不屈の精神力の持ち主でもあります</p>

                 <% elsif @perfume.question == "2" and @perfume.question2=="2" and  @perfume.question3=="1" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="1" %>
                <h6>アクションゲーム</h6>
                <h6>アクションゲームとは、ジャンプや飛び道具などを駆使してアスレチックコースを攻略していくゲーム</h6>
                <h6>診断の詳細</h6>
                <p>「やってみようぜ！」というハングリー精神に富んだ肉食系</p>
                <p>ノリ重視で、論理的というよりは感覚に頼ることが多そうです。</p>
                <p>いっぽう計画性がない一面も…。しかし、一度失敗しても何度もコツコツ挑んでいく不屈の精神力の持ち主でもあります</p>

                <% elsif @perfume.question == "2" and @perfume.question2=="2" and  @perfume.question3=="2" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="1" %>
                <h6>アクション</h6>
                <h6>アクションゲームとは、ジャンプや飛び道具などを駆使してアスレチックコースを攻略していくゲーム</h6>
                <h6>診断の詳細</h6>
                <p>「やってみようぜ！」というハングリー精神に富んだ肉食系</p>
                <p>ノリ重視で、論理的というよりは感覚に頼ることが多そうです。</p>
                <p>いっぽう計画性がない一面も…。しかし、一度失敗しても何度もコツコツ挑んでいく不屈の精神力の持ち主でもあります</p>

                <% elsif @perfume.question == "2" and @perfume.question2=="2" and  @perfume.question3=="2" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>アクション</h6>
                <h6>シューティングゲーム</h6>
                <h6>アクションゲームとは、ジャンプや飛び道具などを駆使してアスレチックコースを攻略していくゲーム</h6>
                <h6>シューティングゲームとは、その名の通り敵を打ち倒していくアクションゲームに近いゲーム。</h6>
               <h6>診断の詳細</h6>
                <p>「やってみようぜ！」というハングリー精神に富んだ肉食系</p>
                <p>ノリ重視で、論理的というよりは感覚に頼ることが多そうです。</p>
                <p>いっぽう計画性がない一面も…。しかし、一度失敗しても何度もコツコツ挑んでいく不屈の精神力の持ち主でもあります</p>
                <p>また、凝り性な性格を持ち、集中力抜群で、物事に没頭するタイプです。硬派で職人気質なところもあるようです。</p>


                <% elsif @perfume.question == "1" and @perfume.question2== "1"  and  @perfume.question3=="1" and  @perfume.question4== "1"  and  @perfume.question5== "1"  and  @perfume.question6=="2"%>
                <h6>格闘・レーシングゲーム</h6>
                <h6>格闘ゲームとは、お気に入りのキャラクターを選び、プレイヤー同士、あるいはプレイヤーとコンピューターが対戦するタイプのゲーム</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>

                <% elsif @perfume.question == "1" and @perfume.question2== "1"  and  @perfume.question3=="1" and  @perfume.question4== "2"  and  @perfume.question5== "1"  and  @perfume.question6=="2"%>
                <h6>格闘・レーシングゲーム</h6>
                <h6>音楽ゲーム</h6>
                <h6>格闘ゲームとは、お気に入りのキャラクターを選び、プレイヤー同士、あるいはプレイヤーとコンピューターが対戦するタイプのゲーム</h6>
                <h6>音楽ゲームとは、コンピュータゲームのジャンルのひとつで、プレーヤーが楽曲や一種の楽譜と相互作用するゲーム</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>
                <p>自分が上達するための攻略方を見つけるのが上手いから勉強も得意である</p>

                <% elsif @perfume.question == "1" and @perfume.question2== "1"  and  @perfume.question3=="1" and  @perfume.question4== "2"  and  @perfume.question5== "2"  and  @perfume.question6=="2"%>
                <h6>格闘・レーシングゲーム</h6>
                <h6>格闘ゲームとは、お気に入りのキャラクターを選び、プレイヤー同士、あるいはプレイヤーとコンピューターが対戦するタイプのゲーム</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>

                <% elsif @perfume.question == "1" and @perfume.question2== "1"  and  @perfume.question3=="1" and  @perfume.question4== "1"  and  @perfume.question5== "2"  and  @perfume.question6=="2"%>
                <h6>格闘・レーシングゲーム</h6>
                <h6>格闘ゲームとは、お気に入りのキャラクターを選び、プレイヤー同士、あるいはプレイヤーとコンピューターが対戦するタイプのゲーム</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>

                <% elsif @perfume.question == "1" and @perfume.question2== "2"  and  @perfume.question3=="1" and  @perfume.question4== "1"  and  @perfume.question5== "1"  and  @perfume.question6=="2"%>
                <h6>格闘・レーシングゲーム</h6>
                <h6>トレーディングカード</h6>
                <h6>格闘ゲームとは、お気に入りのキャラクターを選び、プレイヤー同士、あるいはプレイヤーとコンピューターが対戦するタイプのゲーム</h6>
                <h6>トレーディングカードゲームとは、販売されている専用のカードを用いて行うカードゲーム</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>
                <p>また、物事に熱中する集中力がすごい</p>

                <% elsif @perfume.question == "1" and @perfume.question2== "2"  and  @perfume.question3=="1" and  @perfume.question4== "2"  and  @perfume.question5== "1"  and  @perfume.question6=="2"%>
                <h6>格闘・レーシングゲーム</h6>
                <h6>格闘ゲームとは、お気に入りのキャラクターを選び、プレイヤー同士、あるいはプレイヤーとコンピューターが対戦するタイプのゲーム</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>

                <% elsif @perfume.question == "1" and @perfume.question2== "2"  and  @perfume.question3=="1" and  @perfume.question4== "2"  and  @perfume.question5== "2"  and  @perfume.question6=="2"%>
                <h6>格闘・レーシングゲーム</h6>
                <h6>格闘ゲームとは、お気に入りのキャラクターを選び、プレイヤー同士、あるいはプレイヤーとコンピューターが対戦するタイプのゲーム</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>

                <% elsif @perfume.question == "1" and @perfume.question2== "2"  and  @perfume.question3=="1" and  @perfume.question4== "1"  and  @perfume.question5== "2"  and  @perfume.question6=="2"%>
                <h6>格闘・レーシングゲーム</h6>
                <h6>トレーディングカード</h6>
                <h6>格闘ゲームとは、お気に入りのキャラクターを選び、プレイヤー同士、あるいはプレイヤーとコンピューターが対戦するタイプのゲーム</h6>
                <h6>トレーディングカードゲームとは、販売されている専用のカードを用いて行うカードゲーム</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>
                <p>また、物事に熱中する集中力がすごい</p>

                <% elsif @perfume.question == "1" and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4=="1" and  @perfume.question5=="1" and  @perfume.question6=="1" %>
                <h6>ロールプレイング・アドベンチャーゲーム</h6>
                 <h6>ロールプレイング・アドベンチャーゲームとは、操作性を問われることはほとんどなく、物語を読み解いたりヒントを見つけたりといった要素の多いゲームです</h6>
                <h6>診断の詳細</h6>
                <p>アクションゲーム好きと似た性質がありますが、「対戦」という形式を好むということから、自分に自信があるタイプが多いよう</p>
                <p>熱血漢で、こつこつと積み重ねるタイプです。リサーチ力にも長けているので、友達の変化に気づきやすい</p>


                <% elsif  @perfume.question =="1" and @perfume.question2=="1"  and  @perfume.question3=="2" and  @perfume.question4== "1"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
               <h6>シューティングゲーム</h6>
                <h6>シューティングゲームとは、その名の通り敵を打ち倒していくアクションゲームに近いゲーム。</h6>
                <h6>診断の詳細</h6>
                <p>ずばり凝り性。集中力抜群で、物事に没頭するタイプです。硬派で職人気質なところもあるようです。</p>


                <% elsif  @perfume.question =="1" and @perfume.question2=="1"  and  @perfume.question3=="2" and  @perfume.question4== "2"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>シューティングゲーム</h6>
                <h6>シューティングゲームとは、その名の通り敵を打ち倒していくアクションゲームに近いゲーム。</h6>
                <h6>診断の詳細</h6>
                <p>ずばり凝り性。集中力抜群で、物事に没頭するタイプです。硬派で職人気質なところもあるようです。</p>

                <% elsif  @perfume.question =="1" and @perfume.question2=="2"  and  @perfume.question3=="2" and  @perfume.question4== "1"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>シューティングゲーム</h6>
                <h6>トレーディングカードゲーム</h6>
                 <h6>シューティングゲームとは、その名の通り敵を打ち倒していくアクションゲームに近いゲーム。</h6>
                <h6>トレーディングカードゲームとは、販売されている専用のカードを用いて行うカードゲーム</h6>
                <h6>診断の詳細</h6>
                <p>ずばり凝り性。集中力抜群で、物事に没頭するタイプです。硬派で職人気質なところもあるようです。</p>
                <p>性格が無邪気で素直、計画に基づいた行動をする</p>
                <p>また、物事に熱中する集中力がすごい</p>

                <% elsif  @perfume.question =="2" and @perfume.question2=="1"  and  @perfume.question3=="2" and  @perfume.question4== "2"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>シューティングゲーム</h6>
                <h6>シューティングゲームとは、その名の通り敵を打ち倒していくアクションゲームに近いゲーム。</h6>
                <h6>診断の詳細</h6>
                <p>ずばり凝り性。集中力抜群で、物事に没頭するタイプです。硬派で職人気質なところもあるようです。</p>

                <% elsif  @perfume.question =="2" and @perfume.question2=="2"  and  @perfume.question3=="2" and  @perfume.question4== "2"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>シューティングゲーム</h6>
                <h6>シューティングゲームとは、その名の通り敵を打ち倒していくアクションゲームに近いゲーム。</h6>
                <h6>診断の詳細</h6>
                <p>ずばり凝り性。集中力抜群で、物事に没頭するタイプです。硬派で職人気質なところもあるようです。</p>

                
                
                <% elsif @perfume.question == "2"  and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4== "1"  and  @perfume.question5=="2" and  @perfume.question6=="1" %>
                <h6>パズル</h6>
                <h6>パズルゲームとは、テトリスに代表されるように、パズルを組み合わせていく論理力と推理力が問われるゲーム</h6>
                <h6>診断の詳細</h6>
                <p>きれい好きなことが多いよう。律儀で、もちろん論理的。筋の通っていないことは大嫌いです。</p>
                <p>いっぽう、潔癖性なところがあるかもしれません。融通がきかない不器用な一面も持ち合わせているようです。</p>


                <% elsif @perfume.question == "2"  and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4== "2"  and  @perfume.question5=="2" and  @perfume.question6=="1" %>
                <h6>パズル</h6>
                <h6>パズルゲームとは、テトリスに代表されるように、パズルを組み合わせていく論理力と推理力が問われるゲーム</h6>
                <h6>診断の詳細</h6>
                <p>きれい好きなことが多いよう。律儀で、もちろん論理的。筋の通っていないことは大嫌いです。</p>
                <p>いっぽう、潔癖性なところがあるかもしれません。融通がきかない不器用な一面も持ち合わせているようです。</p>

                <% elsif @perfume.question == "1"  and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4== "1"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>音楽ゲーム</h6>
                <h6>音楽ゲームとは、コンピュータゲームのジャンルのひとつで、プレーヤーが楽曲や一種の楽譜と相互作用するゲーム</h6>
                <h6>診断の詳細</h6>
                <p>自分が上達するための攻略方を見つけるのが上手いから勉強も得意</p>
                <p>論理的に考えることを好む</p>


                <% elsif @perfume.question == "1"  and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4== "1"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>音楽ゲーム</h6>
                <h6>音楽ゲームとは、コンピュータゲームのジャンルのひとつで、プレーヤーが楽曲や一種の楽譜と相互作用するゲーム</h6>
                <h6>診断の詳細</h6>
                <p>自分が上達するための攻略方を見つけるのが上手いから勉強も得意</p>
                <p>論理的に考えることを好む</p>

                <% elsif @perfume.question == "1"  and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4== "2"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>音楽ゲーム</h6>
                <h6>音楽ゲームとは、コンピュータゲームのジャンルのひとつで、プレーヤーが楽曲や一種の楽譜と相互作用するゲーム</h6>
                <h6>診断の詳細</h6>
                <p>自分が上達するための攻略方を見つけるのが上手いから勉強も得意</p>
                <p>論理的に考えることを好む</p>

                <% elsif @perfume.question == "2"  and @perfume.question2=="1" and  @perfume.question3=="1" and  @perfume.question4== "2"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>音楽ゲーム</h6>
                <h6>音楽ゲームとは、コンピュータゲームのジャンルのひとつで、プレーヤーが楽曲や一種の楽譜と相互作用するゲーム</h6>
                <h6>診断の詳細</h6>
                <p>自分が上達するための攻略方を見つけるのが上手いから勉強も得意</p>
                <p>論理的に考えることを好む</p>

                <% elsif @perfume.question == "2"  and @perfume.question2=="1" and  @perfume.question3=="2" and  @perfume.question4== "2"  and  @perfume.question5=="1" and  @perfume.question6=="2" %>
                <h6>音楽ゲーム</h6>
                <h6>音楽ゲームとは、コンピュータゲームのジャンルのひとつで、プレーヤーが楽曲や一種の楽譜と相互作用するゲーム</h6>
                <h6>診断の詳細</h6>
                <p>自分が上達するための攻略方を見つけるのが上手いから勉強も得意</p>
                <p>論理的に考えることを好む</p>
                <% elsif @perfume.question == "1"  and @perfume.question2=="2" and  @perfume.question3=="2" and  @perfume.question4== "1"  and  @perfume.question5=="2" and  @perfume.question6=="2" %>
                <h6>トレーディングゲーム</h6>
                <p>フレッシュで優しい香り</p>
                <p>アンチエイジングにも最適</p>




                

                 <% elsif @perfume.question == "1" and  @perfume.question5 == "2"%>
                <h6>アチーバー（Achiever）</h6>
                <p>ゲーム世界を個人で楽しみたいというプレイヤータイプ</p>
                <p>主体的にゲーム内を楽しみたい</p>
                <p>レベル上げが好き、達成率を100%を目指す</p>

                <% elsif @perfume.question == "2" and  @perfume.question2 == "2"%>
                <h6>エクスプローラー（Explorer）</h6>
                <p>ゲーム世界を個人で楽しみたいというプレイヤータイプ</p>
                <p>主体的にゲーム内を楽しみたい</p>
                <p>レベル上げが好き、達成率を100%を目指す</p>

                <% elsif @perfume.question == "1" and  @perfume.question2 == "2"%>
                <h6>エクスプローラー（Explorer）</h6>
                <p>相互的にプレイヤーと楽しみたい</p>
                <p>その世界の登場人物やプレイヤーと関わり合いを持ちながらゲームを進めたいと思うタイプです</p>
                <p>新しい要素を見つけるのが好き、世界観などを理解しようとする</p>

                 <% elsif @perfume.question2 == "2" and  @perfume.question4 == "2"%>
                <h6>ソーシャライザー（Socilizer）</h6>
                <p>プレイヤーと協力しながらゲームを進めたいというプレイヤータイプ</p>
                <p>主体的にプレイヤーと楽しみたい。</p>
                <p>ゲームよりプレイヤーとの交流を楽しむ、仲間からの賞賛などに喜ぶ。</p>

                <% else @perfume.question2 == "1" and @perfume.question4 == "1" and  @perfume.question5 == "1"%>
                <h6>キラー（Killer）</h6>
                <p>プレイヤーに対して個人として戦いを挑んでいくプレイヤータイプ</p>
                <p>相互的にプレイヤーと楽しみたい。</p>
                <p>対戦格闘ゲームを好むプレイヤーはこの典型</p>
                <p>自分が優位であることを楽しむ、相手に勝つことに燃える</p>

                <% end %>
 <%= link_to "トップページへ", tops_path, data: {"turbolinks" => false}  %>
        </div>