// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


$color-gray: #666;
$color-black: #000;
$stripe-height: 7px;
$btn-color: $color-gray;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;

@mixin reset-button {
    overflow : visible;
    margin : 0;
    padding : 0;
    border : 0;
    background : transparent;
    font : inherit;
    line-height : normal;
    cursor : pointer;
    -moz-user-select : text;
    
    &:-moz-focus-inner {
        padding : 0;
        border : 0;
    }
}

@keyframes stripe-slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}



.btn {
    @include reset-button;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    
    background-color: $btn-background;
    color: $btn-color;
    border: 2px solid $border-color;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
    
    &--stripe {
        overflow: hidden;
        position: relative;
        
        &:after {
            content: '';
            display: block;
            height: $stripe-height;
            width: 100%;
            background-image: repeating-linear-gradient(
                45deg,
                $border-color,
                $border-color 1px,
                transparent 2px,
                transparent 5px
            );
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-top: 1px solid $border-color;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: $stripe-height $stripe-height;
        }

        &:hover {
            background-color: $btn-background-hover;
            color: $btn-color-hover;
            border-color: $border-color-hover;

            &:after {
                background-image: repeating-linear-gradient(
                    45deg,
                    $btn-color-hover,
                    $btn-color-hover 1px,
                    transparent 2px,
                    transparent 5px
                );
                border-top: 1px solid $border-color-hover;
                animation: stripe-slide 12s infinite linear forwards;
            }
        }
    }
    
    &--large {
        width: 50%;
    }
    
    &--radius {
        border-radius: 36px;
    }
}


.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.main-container{
  height: 900px;
  padding: 60px;
  background-image: url("first-back.jpg");
  background-size: cover;
  border-bottom:15px solid rgb(0, 0, 0);
}

    .box_css{
      font-size: 20px;
      text-align: right;

    }

    nav{
      font-size: 32px;
      text-align: center;
    }


    a {
      font-size: 40px;
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
    
    .box_css a:hover {
      color: rgb(255, 0, 0);
    }

    .login a:hover {
      color: rgb(255, 0, 0);
    }

    a:hover {
      color: rgb(255, 0, 0);
    }

   .login{
    font-size: 32px;
    text-align: right;
   }

   .btn{
     width: 25%;
     margin: 5em;
   }

   
   .login li{
     
    margin-top: 5em;
  }

  

   .box_css a{
    opacity: 0.9;
     background-color: cover;
     color:  black;
   }

   .login a{
    opacity: 0.9;
     background-color: cover;
     color:  black;
   }


  .introduction-block2 {
    padding: 0.5em 1em;
    background-size: cover;
    overflow: hidden;
    color: cover;
    height: 600px;
    width: 100%;
    font-family: sans-serif;
    position: relative;
    background: -moz-linear-gradient(#6427f1,#6427f1);
    background: -webkit-linear-gradient(#6427f1,#6427f1);
    background: linear-gradient(to right,#6427f1, #ff708d);
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom:15px solid rgb(0, 0, 0);
  }

  .introduction-block2-omo{
    display: flex;
    justify-content: center;
 
  }

  .introduction-block2 h3{
    align-self: center;
    text-align: center;
    color: #ffeba7;
    font-size: 20px;
  }

  .introduction-block2-1{
    padding: 5em;
  }

  .introduction-block2-2{
    padding: 5em;
  }

  .introduction-block2-3{
    padding: 5em;
  }
  
  .introduction-block2-omo1{
    display: flex;
    justify-content: center;
  }

  .introduction-block2-4{
    padding: 5em;
  }

  .introduction-block2-5{
    padding: 5em;
  }

  .introduction-block2-6{
    padding: 5em;
  }
  .introduction-block2 h2 {
  
  align-self: center;
  text-align: center;
  color: #ffeba7;
  font-size: 60px;
   
  }



.introduction-block2 h1 {
  border-bottom:2px solid wheat;
  font-size: 30px;
  
}



@keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400% 0;
  }
}
  
  .introduction-block3 {
    padding-left: 20em;
    height: 750px;
    width: 100%;
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#6427f1,#ff708d);
    background: -webkit-linear-gradient(#6427f1,#ff708d);
    background: linear-gradient(to right,#6427f1, #ff708d);
    color: rgb(0, 0, 0);
  }


  
 .introduction-block4{
  background: -moz-linear-gradient(#6427f1, #ff708d);
  background: -webkit-linear-gradient(#6427f1, #ff708d);
  background: linear-gradient(to right, #6427f1, #ff708d); 
 margin-bottom: 10em;
  flex-wrap: wrap;
  display: flex;
 
 }

 .introduction-block5{
   display: flex;
 }

 .introduction-block3-top{
   margin: 5em;
   
 }

 .introduction-block3-mypage{
   margin: 5em;
 }

.introduction-block3-logout{
  margin: 5em;
  
}

.introduction-block3-new{
  margin: 10em;
 
}

.introduction-block3-show{
  margin: 10em;
}

.introduction-block3-osusume{
  margin: 10em;
}

  .main-container h2{
  align-self: right;
  text-align: right;
  color: #ffeba7;
  margin-top: 2em;
  font-size: 70px;
  }
 
.introduction-block3 h2{
  border-bottom: #FFF;
  align-self: center;
  text-align: center;
  color: #ffeba7;
  font-size: 60px;
}

.introduction-block3 h3{
  align-self: center;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.introduction-block4{
 
 margin-top: 20em;
}


.introduction-block4 h1{
  border-bottom:2px solid wheat;
  align-self: center;
  text-align: center;
  justify-content: center;
  color: #ffeba7;
  font-size: 30px;
}

.introduction-block5 h1{
  border-bottom:2px solid wheat;
  align-self: center;
  text-align: center;
  color: #ffeba7;
  font-size: 30px;
}

.introduction-block5 h3{
  align-self: center;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}


  

  
  
  

