// Place all the styles related to the perfumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


*{
    padding: 0;
    margin: 0;
  }

  $color: #ff8411;

  @keyframes sheen {
    0% {
      transform: skewY(-45deg) translateX(0);
    }
    100% {
      transform: skewY(-45deg) translateX(12.5em);
    }
  }

  .perfume2 h5{
    color: #ffeba7;
    height: 150px;
    font-size: 50px;
  }
  
  .main12 h2{
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family:  'arial black',serif;
  }

  .main12 h3{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.815);
    font-family:  'arial black',serif;
  }

  .main12 h4{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.737);
    font-family:  'arial black',serif;
  }
  .wrapper {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .button {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: $color;
    border: 2px solid $color;
    font-size: 45px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.1);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: $color;
      color: #fff;
      border-bottom: 4px solid darken($color, 10%);
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
       transition: all 0.5s ease-in-out;
      }
    }
  }

  
  .main h2{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .main2{
    display: flex;
  }

  .main10 {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
    background: rgba(255,255,255,0.4);
  }

  .main11{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .main3{
    height: 250px;
    width: 550px;
    margin: 30px;
    margin-top: 200px;
    background-image: url(assets/second.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;

  }

  .main4{
    height: 250px;
    width: 550px;
    margin: 30px;
    margin-top: 200px;
    background-image: url(assets/second2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;

  }

  .main5{
    height: 250px;
    width: 550px;
    margin: 30px;
    margin-top: 200px;
    background-image: url(assets/second3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;

  }
  

  .start{
    text-align: center;
    align-items: center;
  }

  .kuuhaku{
    height: 100px;
  }


  .dropholder{
    width: 400px;
    height: 60px;
    margin:100px auto;
    padding:0 0 0 20px;
    border-radius:10px;
    font:18px arial;
    color: #fff;
    position: relative;
    box-sizing:border-box;
    border:1px solid #9b0db9;
    animation: move 3s ease-in-out infinite;
    position: relative;
  }
  .dropholder:hover, .dropholder:hover:after{
    animation-play-state:paused;
  }
  .dropholder:after{
    content:"";
    position: absolute;
    width: 500px;
    height: 5px;
    background:rgba(0,0,0, 0);
    display: block;
    top:100px;
    left:37px;
    margin: auto;
    border-radius:50%;
    box-shadow:0 15px 10px rgba(0,0,0, 0.4);
    animation: moveShadow 3s ease-in-out infinite;
  }
  p{
    float: left;
    line-height:60px;
  }
  .dropdown > p{
    font-size:16px;
  }
  .dropdown, .dropholder{
    background:linear-gradient(#da4df8 ,#9b0db9);
  }
  .dropdown{
    margin-left:20px;
    float: left;
    width: 280px;
    padding:0 0 0 20px;
    border-radius:0 10px 10px 0;
    cursor: pointer;
    height:58px;
    border-left:1px solid #da4df8;
    position: relative;
  }
  .dropdown:hover{
    background:linear-gradient(#da4df8 ,#b11cd0);
  }
  .dropdown:after{
    font-size: 18px;
    position: absolute;
    right:20px;
    top:10px;
    display: block;
  }
  

  @keyframes move{
    0%, 100%{transform:translateY(-10px);}
    50%{transform:translateY(0);}
  }
  
  @keyframes moveShadow{
    0%,100%{transform:translateY(10px);opacity:0.4;}
    50%{transform:translateY(0);opacity:1;}
  }

  .form-control{
    width: 250px;
    height: 40px;
  }